# =============== #
# Unity generated #
# =============== #
GameProjectWorking/[Tt]emp/
GameProjectWorking/[Oo]bj/
GameProjectWorking/[Bb]uild
GameProjectWorking/[Bb]uilds/
GameProjectWorking/[Ll]ibrary/
GameProjectWorking/sysinfo.txt
GameProjectWorking/*.stackdump
GameProjectWorking/Assets/AssetStoreTools*
GameProjectWorking/*.apk
GameProjectWorking/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
GameProjectWorking/*.userprefs
GameProjectWorking/*.csproj
GameProjectWorking/*.pidb
GameProjectWorking/*.pidb.meta
GameProjectWorking/*.suo
GameProjectWorking/*.sln*
GameProjectWorking/*.user
GameProjectWorking/*.unityproj
GameProjectWorking/*.booproj
GameProjectWorking/.consulo/
GameProjectWorking/*.tmp
GameProjectWorking/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/